<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cursbnr">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".Inventar.Inventar"></activity>
        <activity android:name=".InterfataPrincipala">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".CursBNR.CursValutar.Utile.CheckingConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CursBNR.IstoricRapoarte.Activitati.IstoricRapoarte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inventar.Utile.BarcodeScan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CursBNR.GenerareRapoarte.Activitati.GenerareRapoarte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CursBNR.CursValutar.Activitati.CursValutar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CursBNR.HomeScreen"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cursbnr.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export">
            </meta-data>
        </provider>

    </application>

</manifest>